<% title "Genre Cloud" %>
<h1>Genre Cloud</h1>

<ul class="subnav">
  <% if current_user.present? %>
    <li><%= link_to "Your Cloud", genre_path(current_user), 'data-turbolinks': "false" %></li>
  <% end %>
  <li><%= link_to "Most Popular", genres_path, 'data-turbolinks': "false", class: 'active' %></li>
  <li><%= link_to "Most Obscure", obscure_genres_path, 'data-turbolinks': "false" %></li>
</ul>


<div id="cloud" style=" width:100%; height:600px;"></div>

<script type="text/javascript">
  var words = [
  <% @keywords.each do |keyword| %>
  {text: "<%= keyword[0].html_safe %>", weight: <%= keyword[1] %>, link: '<%= search_genres_path(genre: keyword[0]) %>'},
  <% end %>
  ];

  $(document).on('turbolinks:load', function() {
    $('#cloud').jQCloud(words, {
      height: 600,
      autoResize: true,
      encodeURI: false
    });
  });
</script>