<h1>Settings</h2>
<div class="container">
  <div class="row">
    <div class="col">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', "aria-describedby": 'emailHelp' %>
        </div>
        <%= f.submit "Update", class: 'btn btn-primary' %>

      <% end %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <h2>Connections</h2>
      <%=  %>
      <%= RSpotify::User.new(current_user.connections.where(provider:'spotify').first.settings.to_hash).saved_tracks(limit: 1) %>

      <%= link_to "Connect Spotify", omniauth_authorize_path('user', 'spotify') %><br />
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <h2>Cancel my account</h2>
      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
    </div>
  </div>
</div>