<% title @artist.name %>

<nav class="breadcrumb">
  <ol>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Artists", artists_path %></li>
    <li class="active"><%= @artist.name %></li>
  </ol>
</nav>

<section class="artist-header" style="background-image: url(<%= @artist.spotify_image %>)">
  <div class="info">
    <h1><%= @artist.name %></h1>
    <div class="follow">
    <% if current_user %>
      <%= render "follow" %>
    <% end %>
    </div>
  </div>
  <ul class="links">
    <% if @artist.external_homepage.present? %>
      <li><%= link_to raw('<i class="fas fa-globe-americas"></i>'), @artist.external_homepage %></li>
    <% end %>
    <% if @artist.external_twitter.present? %>
      <li><%= link_to raw('<i class="fab fa-twitter"></i>'), @artist.external_twitter %></li>
    <% end %>
    <% if @artist.external_facebook.present? %>
      <li><%= link_to raw('<i class="fab fa-facebook"></i>'), @artist.external_facebook %></li>
    <% end %>
    <% if @artist.external_instagram.present? %>
      <li><%= link_to raw('<i class="fab fa-instagram"></i>'), @artist.external_instagram %></li>
    <% end %>
    <% if @artist.external_youtube.present? %>
      <li><%= link_to raw('<i class="fab fa-youtube"></i>'), @artist.external_youtube %></li>
    <% end %>
    <% if @artist.external_wikipedia.present? %>
      <li><%= link_to raw('<i class="fab fa-wikipedia-w"></i>'), @artist.external_wikipedia %></li>
    <% end %>
  </ul>
</section>

<div class="artist-people">
  <% if @artist.streams.present? %>
  <div class="streamed-by">
    <h2>Recently Streamed</h2>
    <div class="user-grid">

      <% @artist.streams.select("DISTINCT(USER_ID)").each do |stream| %>
      <% if stream.user.present? && stream.user.private_profile == false %>
      <div class="user">
        <a href="<%= user_path(stream.user) %>">
          <div class="user-image" style="background-image: url(<%= stream.user.avatar_image %>)"></div>
        </a>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <% end %>

  <% if @artist.follows.present? %>
  <div class="fans">
    <h2>Fans</h2>
    <div class="user-grid">
      <% @artist.follows.where(active:true).select("DISTINCT(USER_ID)").each do |follow| %>
      <% if follow.user.present? && follow.user.private_profile == false %>
      <div class="user">
        <a href="<%= user_path(follow.user) %>">
          <div class="user-image" style="background-image: url(<%= follow.user.avatar_image %>)"></div>
        </a>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

<div class="media grid-artist<% unless @artist.music_videos.present? %> full<% end %>">
  <div class="albums">
    <h2>Albums</h2>
    <div class="album-grid">
      <% @artist.albums.where.not(album_type: 'compilation').order(release_date: :desc, artist_id: :desc).limit(100).each do |a| %>
      <% cache a do %>
        <div class="album">
          <a href="<%= album_path(a) %>" class="album_cover">
            <span class="sources">
              <% if a.spotify_id %><i class="fab fa-spotify"></i><% end %> <% if a.applemusic_id %><i class="fab fa-apple"></i><% end %>
            </span>
            <img src="<%= album_image(a) %>" />
          </a>
          <% if a.album_type == 'single' %><span class="single" title="Single">S</span><% end %>
          <%= link_to a.name, album_path(a), class: 'album-title' %>
          <% if a.release_date %>
          <p class="release-date"><small class="album-artist"><%= a.release_date.strftime("%B %-e, %Y") %></small></p>
          <% end %>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>
  <% if @artist.music_videos.present? %>
  <div class="videos">
    <h2>Videos</h2>
    <div class="album-grid">
      <% @artist.music_videos.order('release_date desc').each do |video| %>
        <div class="album">
          <a href="<%= music_video_path(video) %>" class="album_cover">
            <span class="sources">
              <i class="fab fa-youtube"></i>
            </span>
            <img src="<%= video.image %>" />
          </a>
          <%= link_to video.name, music_video_path(video), class: 'album-title' %>
          <% if video.release_date %>
          <p class="release-date"><small class="album-artist"><%= video.release_date.strftime("%B %-e, %Y") %></small></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>