<% title @user.screename %>

<div class="user-info">
  <div><img src="<%= @user.avatar_image %>"></div>
  <div class="about">
    <h1><%= @user.screename %></h1>
    <% if @user == current_user %>
      <p><%= link_to 'Settings', edit_user_registration_path %> <%= link_to 'Sign out', destroy_user_session_path, method: :delete %></p>
    <% end %>
  </div>
</div>

<% unless @user.private_profile %>
<h2>New music from artists <%= @user.screename %> follows...</h2>
<div class="album-grid">
  <% @new_albums.each do |a| %>
  <% cache a do %>
    <div class="album">
      <a href="<%= album_path(a) %>" class="album_cover">
        <span class="sources">
          <% if a.spotify_id %><i class="fab fa-spotify"></i><% end %> <% if a.applemusic_id %><i class="fab fa-apple"></i><% end %>
        </span>
        <img src="<%= album_image(a) %>" />
      </a>
      <% if a.album_type == 'single' %><span class="single" title="Single">S</span><% end %>
      <%= link_to a.name, album_path(a), class: 'album-title' %>
      <%= link_to a.artist.name, artist_path(a.artist), class: 'album-artist' %>
    </div>
  <% end %>
  <% end %>
</div>
<% end %>