<div class="row">
  <div class="col">
    <img src="<%= @user.image %>" class="rounded-circle float-left" style="max-width:65px">

    <h1 class="display-4"><%= @user.screename %></h1>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <h2>New music from artists they follow...</h2>
    <div class="row">
      <% @new_albums.each do |a| %>
      <div class="col-sm-2">
        <div class="card album">
          <img class="card-img-top img-fluid rounded" src="<%= album_image(a) %>" alt="Card image cap">
          <div class="card-img-overlay">
            <% if a.spotify_link %>
            <a href="<%= a.spotify_link %>" class="card-link">Spotify</a>
            <% end %>
          </div>
          <div class="card-block">
            <h4 class="card-title"><%= link_to a.name, album_path(a) %></h4>
            <h6><%= a.artist.name %></h6>
            <% if a.release_date %>
            <p class="release-date"><small><%= a.release_date.strftime("%B %-e, %Y") %></small></p>
            <% end %>
          </div>
        </div>
      </div>  
      <% end %>
    </div>
  </div>
</div>