<% title "Events" %>

<div class="page-header">
  <h1>Events near <strong><%= @location %></strong></h1>
  <div class="options">
    <div class="dropdown">
      <a href="#" class="current" data-target="time"><%= time_wording(params[:days]) %> <i class="fas fa-angle-down"></i></a>
      <ul data-dropdown="time">
        <li><%= link_to "Next month", request.params.merge(days: "30") %></li>
        <li><%= link_to "Next 3 months", request.params.merge(days: "90") %></li>
        <li><%= link_to "Next 6 months", request.params.merge(days: "180") %></li>
      </ul>
    </div>
    <div class="dropdown">
      <a href="#" class="current" data-target="distance"><%= distance_wording(params[:distance]) %> <i class="fas fa-angle-down"></i></a>
      <ul data-dropdown="distance">
        <li><%= link_to "25 mi", request.params.merge(distance: "25") %></li>
        <li><%= link_to "50 mi", request.params.merge(distance: "50") %></li>
        <li><%= link_to "100 mi", request.params.merge(distance: "100") %></li>
        <li><%= link_to "250 mi", request.params.merge(distance: "250") %></li>
      </ul>
    </div>
  </div>
</div>

<div class="events-grid">
<% if @events %>
<% @events.each do |event| %>
  <div class="event">
    <a href="<%= artist_path(event.artist) %>">
      <div class="artist-image" style="background-image: url(<%= event.artist.spotify_image %>)"></div>
    </a>
    <h2><%= link_to event.artist.name, artist_path(event.artist), class: 'artist-title' %></h2>
    <h3><%= event.venue_name %></h3>
    <div class="details">
      <div class="info">
        <p class="location"><%= event.city %>, <%= event.region %></p>
        <p class="date"><%= event.starts_at.strftime("%B %-e, %Y") %></p>
      </div>
      <div class="view"><a href="<%= event.songkick_url %>" class="btn">View Event</a></div>
    </div>
  </div>
<% end %>
<% else %>
<p>Can't find any events in the area!</p>
<% end %>
</div>