<% title "Events" %>

<div class="page-header">
  <h1>Events near <strong><%= @location %></strong></h1>
  <div class="dropdown">
    <a href="#" class="current"><%= time_wording(params[:days]) %> <i class="fas fa-angle-down"></i></a>
    <ul>
      <li><a href="/events">Next month</a></li>
      <li><a href="/events?days=90">Next 3 months</a></li>
      <li><a href="/events?days=180">Next 6 months</a></li>
    </ul>
  </div>
</div>

<div class="events-grid">
<% if @events %>
<% @events.each do |event| %>
  <div class="event">
    <a href="<%= artist_path(event.artist) %>">
      <div class="artist-image" style="background-image: url(<%= event.artist.spotify_image %>)"></div>
    </a>
    <h2><%= link_to event.artist.name, artist_path(event.artist), class: 'artist-title' %></h2>
    <h3><%= event.venue_name %></h3>
    <div class="details">
      <div class="info">
        <p class="location"><%= event.city %>, <%= event.region %></p>
        <p class="date"><%= event.starts_at.strftime("%B %-e, %Y") %></p>
      </div>
      <div class="view"><a href="<%= event.songkick_url %>" class="btn">View Event</a></div>
    </div>
  </div>
<% end %>
<% else %>
<p>Can't find any events in the area!</p>
<% end %>
</div>