<% title "Latest Music News" %>
<% if @news.present? %>
<div class="container">
  <div class="row justify-content-between">
    <div class="col-6"><h2>Latest Music News</h2></div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <% @news.each do |news| %>
          <div class="col-4 pb-4">
          <div class="card album news">
            <div class="album_cover">
              <a href="<%= news.url %>">
              <div class="sources"><i class="fas fa-newspaper"></i></div>
              <div class="card-img-top img-fluid rounded" style="background-image: url('<%= news.article_image %>')"></div>
              </a>
            </div>
            <div class="card-block">
              <h4 class="card-title"><%= link_to news.title, news.url %></h4>
              <h6><%= link_to news.artist.name, artist_path(news.artist) %></h6>
              <p class="release-date"><small><%= news.published_at.strftime("%B %-e, %Y") %></small></p>
            </div>
          </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>