<% if user_signed_in? %>
  <% unless current_user.connections.where(provider:'spotify').first %>
  <h1>Connect Spotify</h1>
  <p>To get started you'll need to connect your Spotify account!</p>
    <%= link_to "Connect Spotify", omniauth_authorize_path('user', 'spotify'), class: 'btn btn-lg btn-success' %><br />
    <hr>
  <% end %>
<% else %>
<div class="jumbotron">
  <h1 class="display-3">Droptune</h1>
  <h2>Never miss another album release</h2>
  <p class="lead">Find out when new music from the artists you love is available!</p>
  <hr class="my-4">
  <%= link_to "Sign in with Twitter", omniauth_authorize_path("user", "twitter"), class: 'btn btn-primary btn-lg' %>
</div>
<% end %>

<div class="latest">
  <div class="container">
    <div class="row">
      <h1>
        Latest Releases
        <small class="text-muted">The latest music releases</small>
      </h1>
      <div class="row">
        <% @albums.each do |a| %>
        <div class="col-sm-2">
          <div class="card album">
            <img class="card-img-top img-fluid rounded" src="<%= album_image(a) %>" alt="Card image cap">
            <div class="card-img-overlay">
              <% if a.spotify_link %>
              <a href="<%= a.spotify_link %>" class="card-link">Spotify</a>
              <% end %>
            </div>
            <div class="card-block">
              <h4 class="card-title"><%= link_to a.name, album_path(a) %></h4>
              <h6><%= a.artist.name %></h6>
              <% if a.release_date %>
              <p class="release-date"><small><%= a.release_date.strftime("%B %-e, %Y") %></small></p>
              <% end %>
            </div>
          </div>
        </div>  
        <% end %>
      </div>
    </div>
  </div>
</div>