<section class="jumbotron container">
  <h2>Never miss a beat</h2>
  <p>Find out about new music from the artists you love!</p>
  <%= link_to raw("<i class='fab fa-twitter'></i> Sign in with Twitter"), omniauth_authorize_path("user", "twitter"), class: 'btn btn-white' %>
</section>

<div class="latest">
  <h1>Latest Albums</h1>
  <div class="album-grid">
    <% @albums.each do |a| %>
    <% cache a do %>
      <div class="album">
        <a href="<%= album_path(a) %>" class="album_cover">
          <span class="sources">
            <% if a.spotify_id %><i class="fab fa-spotify"></i><% end %> <% if a.applemusic_id %><i class="fab fa-apple"></i><% end %>
          </span>
          <img src="<%= album_image(a) %>" />
        </a>
        <% if a.album_type == 'single' %><span class="single" title="Single">S</span><% end %>
        <%= link_to a.name, album_path(a), class: 'album-title' %>
        <%= link_to a.artist.name, artist_path(a.artist), class: 'album-artist' %>
      </div>
    <% end %>
    <% end %>
  </div>
</div>