<% title "Latest Music Releases" %>
<% if @albums.present? %>
<h1>Albums</h1>
<div class="latest-upcoming">
  <ul class="subnav">
    <li><%= link_to "Latest Releases", albums_path, class: 'active' %></li>
    <li><%= link_to "Upcoming Releases", upcoming_albums_path %></li>
  </ul>
  <div class="album-grid">
    <% @albums.each do |a| %>
    <% cache a do %>
      <div class="album">
        <a href="<%= album_path(a) %>" class="album_cover">
          <span class="sources">
            <% if a.spotify_id %><i class="fab fa-spotify"></i><% end %> <% if a.applemusic_id %><i class="fab fa-apple"></i><% end %>
          </span>
          <img src="<%= album_image(a) %>" />
        </a>
        <% if a.album_type == 'single' %><span class="single" title="Single">S</span><% end %>
        <%= link_to a.name, album_path(a), class: 'album-title' %>
        <%= link_to a.artist.name, artist_path(a.artist), class: 'album-artist' %>
        <% if a.release_date %>
        <p class="release-date"><small><%= a.release_date.strftime("%B %-e, %Y") %></small></p>
        <% end %>
      </div>
    <% end %>
    <% end %>
  </div>
</div>
<!-- <div class="past-albums">
  <div class="past-date">
    <h3>August 17, 2018</h3>
    <div class="album-grid">
      <div class="album">
        <a href="#" class="album_cover">
          <span class="sources">
            <i class="fab fa-spotify"></i>
            <i class="fab fa-apple"></i>
          </span>
          <img src="../images/500x500bb.jpg" />
        </a>
        <span class="single" title="Single">S</span>
        <a href="#" class="album-title">Album Title</a>
        <a href="#" class="album-artist">Artist</a>
      </div>
      <div class="album">
        <a href="#" class="album_cover">
          <span class="sources">
            <i class="fab fa-spotify"></i>
            <i class="fab fa-apple"></i>
          </span>
          <img src="../images/500x500bb.jpg" />
        </a>
        <span class="single" title="Single">S</span>
        <a href="#" class="album-title">Album Title</a>
        <a href="#" class="album-artist">Artist</a>
      </div>
      <div class="album">
        <a href="#" class="album_cover">
          <span class="sources">
            <i class="fab fa-spotify"></i>
            <i class="fab fa-apple"></i>
          </span>
          <img src="../images/500x500bb.jpg" />
        </a>
        <span class="single" title="Single">S</span>
        <a href="#" class="album-title">Album Title</a>
        <a href="#" class="album-artist">Artist</a>
      </div>
    </div>
  </div>
</div> -->
<% end %>