<% title "#{@album.name} by #{@album.artist.name}" %>
<div class="container">
  <div class="row">
    <div class="col">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
        <li class="breadcrumb-item"><%= link_to "Artists", artists_path %></li>
        <li class="breadcrumb-item"><%= link_to @album.artist.name, artist_path(@album.artist) %></li>
        <li class="breadcrumb-item active"><%= @album.name %></li>
      </ol>
      <h1><%= @album.name %></h1>

      <div class="row">
        <div class="col-sm-1">
          <% if @album.applemusic_id %>
          <iframe allow="autoplay *; encrypted-media *;" frameborder="0" height="<% if @album.album_type == 'single' %>450<% else %>580<% end %>" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/us/album/thank-you-for-today/<%= @album.applemusic_id %>?app=music&at=1001lruc" width="500"></iframe>
          <% end %>
          <% if @album.spotify_id %>
          <iframe src="https://embed.spotify.com/?uri=spotify:album:<%= @album.spotify_id %>" width="500" height="<% if @album.album_type == 'single' %>200<% else %>580<% end %>" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>