<% title "#{@album.name} by #{@album.artist.name}" %>

<nav class="breadcrumb">
  <ol>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Artists", artists_path %></li>
    <li><%= link_to @album.artist.name, artist_path(@album.artist) %></li>
    <li class="active"><%= @album.name %></li>
  </ol>
</nav>
<div class="grid">
  <div class="col album-single">
    <div class="album_cover">
      <div><img src="<%= album_image(@album, '600') %>"></div>
    </div>
    <div class="details">
      <span><%= @album.album_type %></span>
      <h1><%= @album.name %></h1>
      <h2><%= link_to @album.artist.name, artist_path(@album.artist) %></h2>
      <p class="released"><% if @album.release_date > Date.today %>Releasing<% else %>Released<% end %> <time datetime="<%= @album.release_date.strftime("%Y-%m-%-e") %>"><%= @album.release_date.strftime("%B %-e, %Y") %></time></p>
      
      <ol class="tracks" data-apple-music-album-id="<%= @album.applemusic_id %>"></ol> 

      <p class="add">
        <!-- <a href="#"><i class="fab fa-spotify"></i> Add</a> -->
        <a href="#" class="apple" data-apple-music-add-to-library="<%= @album.applemusic_id %>"><i class="fab fa-apple"></i> Add</a>
      </p>
    </div>
  </div>
</div>