<!doctype html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? ("#{yield(:title)} - Droptune").html_safe : "Droptune" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="HandheldFriendly" content="True" />
    <meta name="lOptimized" content="width" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#15b6fb">
    <meta name="apple-mobile-web-app-title" content="Droptune">
    <meta name="application-name" content="Droptune">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,400,600,800|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23290403-19"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-23290403-19');
    </script>
    <meta name="google-site-verification" content="mE1Q9uuICo4eQJ3DyPi4uK6PwovXCZYpGH0ib1a4PXE" />
    <%= yield :head %>
  </head>

  <body<% if content_for?(:body_attributes) %> <%= yield(:body_attributes) %><% end %>>
    <header role="main">
      <div class="container">
        <a href="<%= root_path %>" id="logo">Droptune</a>
        <a href="#" id="mobile-menu"><i class="fas fa-bars"></i></a>
        <nav>
          <% if user_signed_in? %>
          <a href="<%= user_path(current_user) %>" class="user-link"><img src="<%= current_user.avatar_image %>"> <span><%= current_user.screename %></span></a>
          <% else %>
          <%= link_to raw('<i class="fab fa-twitter"></i> Sign in with Twitter'), omniauth_authorize_path("user", "twitter"), id: 'twitter-sign-in' %>
          <% end %>
          <%= link_to "Albums", albums_path, class: controller_name=='albums' ? 'active' : '' %>
          <%= link_to "Videos", music_videos_path, class: controller_name=='music_videos' ? 'active' : '' %>
          <%= link_to "Artists", artists_path, class: controller_name=='artists' ? 'active' : '' %>
          <%= link_to "Charts", charts_path, class: controller_name=='charts' ? 'active' : '' %>
          <%= link_to "Users", users_path, class: controller_name=='users' ? 'active' : '' %>
          <%= link_to "Playlists", playlists_path, class: controller_name=='playlists' ? 'active' : '' %>
          <%= link_to "Genres", genres_path, 'data-turbolinks': "false", class: controller_name=='genres' ? 'active' : '' %>
          <%= link_to raw('<i class="fas fa-search"></i>'), '#', class: (controller_name=='artists' && action_name=='search') ? 'search-button active' : 'search-button' %>
        </nav>
        <%= form_tag(search_artists_path, method: 'get', class: 'search-form', enforce_utf8:false) do %>
          <%= text_field_tag :artist, nil, class: '', placeholder: "Search for artists..." %>
        <% end %>
      </div>
    </header>

    <% if notice %>
      <div class="alert success" role="alert">
        <div class="container">
          <i class="fas fa-check-circle"></i> <%= notice %>
        </div>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert error" role="alert">
        <div class="container">
          <i class="fas fa-exclamation-triangle"></i> <%= alert %>
        </div>
      </div>
    <% end %>

    <main class="container">
      <% if user_signed_in? %>
        <% unless current_user.follows.present? %>
          <section class="jumbotron container">
            <h2>Connect</h2>
            <p>To get started you'll need to connect a music streaming service!</p>
            <%= link_to raw('<i class="fab fa-spotify"></i> Connect Spotify'), omniauth_authorize_path('user', 'spotify'), class: 'btn btn-white' %> <button id="apple-music-authorize" class="btn btn-white"><i class="fab fa-apple"></i> Connect Apple Music</button>
          </section>
        <% end %>
      <% end %>

      <%= yield %>
    </main>

    <footer>
      <div class="container">
        <p>Got feedback? Want to contribute? <a href="https://github.com/Shpigford/droptune">Droptune is open source!</a></p>
        <p>Original idea by <a href="https://twitter.com/Shpigford">@Shpigford</a>. Maintained by <a href="https://twitter.com/Shpigford">@Shpigford</a> with the help of <a href="https://github.com/Shpigford/droptune/graphs/contributors">our contributors</a>!</p>
      </div>
    </footer>
    <script src="https://js-cdn.music.apple.com/musickit/v1/musickit.js"></script>
    <script type="text/javascript">
      document.addEventListener('musickitloaded', function() {
        // MusicKit global is now defined
        MusicKit.configure({
          developerToken: '<%= ENV['apple_token'] %>',
          app: {
            name: 'Droptune',
            build: '1'
          }
        });
      });
    </script>
    <%= javascript_include_tag 'applemusic' %>
  </body>
</html>
