<!doctype html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? ("#{yield(:title)} - Droptune").html_safe : "Droptune" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="HandheldFriendly" content="True" />
    <meta name="lOptimized" content="width" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,400,600,800|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23290403-19"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-23290403-19');
    </script>
    <meta name="google-site-verification" content="mE1Q9uuICo4eQJ3DyPi4uK6PwovXCZYpGH0ib1a4PXE" />
  </head>

  <body>
    <header role="main">
      <div class="container">
        <a href="#" id="logo">Droptune</a>
        <a href="#" id="mobile-menu"><i class="fas fa-bars"></i></a>
        <nav>
          <%= link_to raw('<i class="fab fa-twitter"></i> Sign in with Twitter'), omniauth_authorize_path("user", "twitter"), id: 'twitter-sign-in' %>
          <%= link_to "Albums", albums_path, class: controller_name=='albums' ? 'active' : '' %>
          <%= link_to "Videos", music_videos_path, class: controller_name=='music_videos' ? 'active' : '' %>
          <%= link_to "Artists", artists_path, class: controller_name=='artists' ? 'active' : '' %>
          <%= link_to "Charts", charts_path, class: controller_name=='charts' ? 'active' : '' %>
          <%= link_to "Users", users_path, class: controller_name=='users' ? 'active' : '' %>
          <%= link_to "Playlists", playlists_path, class: controller_name=='playlists' ? 'active' : '' %>
        </nav>
      </div>
    </header>

    <% if notice %>
      <div class="alert success" role="alert">
        <div class="container">
          <i class="fas fa-check-circle"></i> <%= notice %>
        </div>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert error" role="alert">
        <div class="container">
          <i class="fas fa-exclamation-triangle"></i> <%= alert %>
        </div>
      </div>
    <% end %>

    <main class="container">
      <% if user_signed_in? %>
        <% unless current_user.follows.present? %>
        <h1>Connect</h1>
        <p>To get started you'll need to connect a music streaming service!</p>
          <%= link_to "Connect Spotify", omniauth_authorize_path('user', 'spotify'), class: 'btn btn-lg btn-primary' %> <button id="apple-music-authorize" class="btn btn-lg btn-primary">Connect Apple Music</button>
      <script src="https://js-cdn.music.apple.com/musickit/v1/musickit.js"></script>
      <%= javascript_include_tag 'applemusic' %>
          <hr>
        <% end %>
      <% end %>

      
      <%= yield %>
    </main>

    <footer>
      <div class="container">
        <p>Got feedback? Want to contribute? <a href="https://github.com/Shpigford/droptune">Droptune is open source!</a></p>
        <p>Original idea by <a href="https://twitter.com/Shpigford">@Shpigford</a>. Maintained by <a href="https://twitter.com/Shpigford">@Shpigford</a> with the help of <a href="https://github.com/Shpigford/droptune/graphs/contributors">our contributors</a>!</p>
      </div>
    </footer>

    <script type="text/javascript">
      document.addEventListener('musickitloaded', function() {
        // MusicKit global is now defined
        MusicKit.configure({
          developerToken: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImFsZyI6IkVTMjU2Iiwia2lkIjoiNVhZSEhQUENTMiJ9.eyJpc3MiOiJXMzNKWlBQUEZOIiwiZXhwIjoxNTQxOTcyNjQzLCJpYXQiOjE1MzQxOTY2NDN9.oUl3SYgEyMWXl950g9R12km8gNC2uRZ46GBCH31Ln8WkH4IvMqa6hk9_Ex_uTsU-njuiZNl9qzBzyveeN_HxLQ',
          app: {
            name: 'Droptune',
            build: '1'
          }
        });
      });
    </script>
  </body>
</html>
