<!DOCTYPE html>
<html>
  <head>
    <title>Droptune</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand mb-0 h1" href="#">Droptune</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <%= link_to "Albums", albums_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "Artists", artists_path, class: 'nav-link' %>
          </li>
        </ul>
        <ul class="navbar-nav float-lg-right">
          <% if user_signed_in? %>
            <li class="nav-item"><%= link_to 'Settings', edit_user_registration_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
          <% else %>
            <li class="nav-item"><%= link_to 'Sign in with Twitter', omniauth_authorize_path("user", "twitter"), class: 'nav-link' %></li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    <footer class="bd-footer text-muted">
      <div class="container-fluid p-2 p-md-5">
        <p>Got feedback? Want to contribute? <a href="https://github.com/Shpigford/droptune">Droptune is open source!</a></p>
        <p>Original idea by <a href="https://twitter.com/Shpigford">@Shpigford</a>. Maintained by <a href="https://twitter.com/Shpigford">@Shpigford</a> with the help of <a href="https://github.com/Shpigford/droptune/graphs/contributors">our contributors</a>!</p>
      </div>
    </footer>
  </body>
</html>
