<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? ("#{yield(:title)} - Droptune").html_safe : "Droptune" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Nunito|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23290403-19"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-23290403-19');
    </script>
    <meta name="google-site-verification" content="mE1Q9uuICo4eQJ3DyPi4uK6PwovXCZYpGH0ib1a4PXE" />
    <% if Rails.env.production? %>
    <!-- Start of Async Drift Code -->
    <script>
    "use strict";

    !function() {
      var t = window.driftt = window.drift = window.driftt || [];
      if (!t.init) {
        if (t.invoked) return void (window.console && console.error && console.error("Drift snippet included twice."));
        t.invoked = !0, t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
        t.factory = function(e) {
          return function() {
            var n = Array.prototype.slice.call(arguments);
            return n.unshift(e), t.push(n), t;
          };
        }, t.methods.forEach(function(e) {
          t[e] = t.factory(e);
        }), t.load = function(t) {
          var e = 3e5, n = Math.ceil(new Date() / e) * e, o = document.createElement("script");
          o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + n + "/" + t + ".js";
          var i = document.getElementsByTagName("script")[0];
          i.parentNode.insertBefore(o, i);
        };
      }
    }();
    drift.SNIPPET_VERSION = '0.3.1';
    drift.load('b2ws5yxhkrn7');
    <% if current_user.present? %>
      drift.identify(<%= current_user.id %>, {
        email: '<%= current_user.email %>',
        nickname: '<%= current_user.screename %>'
      })
    <% end %>
    </script>
    <!-- End of Async Drift Code -->
    <% end %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-9966105119993744",
              enable_page_level_ads: true
         });
    </script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light navbar-main pb-0">
      <div class="container px-5">
        <div class="row">
          <%= link_to image_tag('logo-droptune-color.svg', height: '21', class: 'd-inline-block align-top'), root_path, class: 'navbar-brand mr-3 pt-3' %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item pt-2 mr-1">
                <%= link_to "Latest Albums", albums_path, class: 'nav-link' %>
              </li>
              <li class="nav-item pt-2 mr-1">
                <%= link_to "Upcoming", upcoming_albums_path, class: 'nav-link' %>
              </li>
              <li class="nav-item pt-2 mr-1">
                <%= link_to "Latest Videos", music_videos_path, class: 'nav-link' %>
              </li>
              <li class="nav-item pt-2 mr-1">
                <%= link_to "Artists", artists_path, class: 'nav-link' %>
              </li>
              <li class="nav-item pt-2 mr-1">
                <%= link_to "Charts", charts_path, class: 'nav-link' %>
              </li>
              <li class="nav-item pt-2 mx-0">
                <%= link_to "Users", users_path, class: 'nav-link' %>
              </li>
              <li class="nav-item pt-2 mx-0">
                <%= link_to "Playlists", playlists_path, class: 'nav-link' %>
              </li>
            </ul>
            
            <ul class="navbar-nav">
              <% if user_signed_in? %>
              <li class="nav-item pt-2 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="<%= current_user.avatar_image %>" class="rounded-circle float-left mr-2" style="max-width:24px">  <%= current_user.screename %>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <%= link_to 'Profile', user_path(current_user), class: 'dropdown-item' %>
                  <%= link_to 'Settings', edit_user_registration_path, class: 'dropdown-item' %>
                  <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
                </div>
              </li>
              <% else %>
              <li class="nav-item"><%= link_to 'Sign in with Twitter', omniauth_authorize_path("user", "twitter"), class: 'nav-link' %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <nav class="navbar navbar-expand-lg mb-3">
      <div class="container px-5">
        <div class="row">
          <%= form_tag(search_artists_path, method: 'get', class: 'd-inline w-100', enforce_utf8:false) do %>
            <%= text_field_tag :artist, nil, class: 'form-control input-lg py-4', placeholder: "Search for artists" %>
          <% end %>
        </div>
      </div>
    </nav>


    <div class="container px-3"> 
      <% if notice %>
        <div class="alert alert-success mt-3" role="alert"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger mt-3" role="alert"><%= alert %></div>
      <% end %>

      <% if user_signed_in? %>
        <% unless current_user.follows.present? %>
        <h1>Connect</h1>
        <p>To get started you'll need to connect a music streaming service!</p>
          <%= link_to "Connect Spotify", omniauth_authorize_path('user', 'spotify'), class: 'btn btn-lg btn-primary' %> <button id="apple-music-authorize" class="btn btn-lg btn-primary">Connect Apple Music</button>
      <script src="https://js-cdn.music.apple.com/musickit/v1/musickit.js"></script>
      <%= javascript_include_tag 'applemusic' %>
          <hr>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
    <footer class="bd-footer text-muted">
      <div class="container-fluid p-2 p-md-5">
        <p>Got feedback? Want to contribute? <a href="https://github.com/Shpigford/droptune">Droptune is open source!</a></p>
        <p>Original idea by <a href="https://twitter.com/Shpigford">@Shpigford</a>. Maintained by <a href="https://twitter.com/Shpigford">@Shpigford</a> with the help of <a href="https://github.com/Shpigford/droptune/graphs/contributors">our contributors</a>!</p>
      </div>
    </footer>
    <script src="https://js-cdn.music.apple.com/musickit/v1/musickit.js"></script>
    <script type="text/javascript">
      document.addEventListener('musickitloaded', function() {
        // MusicKit global is now defined
        MusicKit.configure({
          developerToken: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImFsZyI6IkVTMjU2Iiwia2lkIjoiNVhZSEhQUENTMiJ9.eyJpc3MiOiJXMzNKWlBQUEZOIiwiZXhwIjoxNTQxOTcyNjQzLCJpYXQiOjE1MzQxOTY2NDN9.oUl3SYgEyMWXl950g9R12km8gNC2uRZ46GBCH31Ln8WkH4IvMqa6hk9_Ex_uTsU-njuiZNl9qzBzyveeN_HxLQ',
          app: {
            name: 'Droptune',
            build: '1'
          }
        });
      });
    </script>
    <% if Rails.env.production? %><div id="drift-widget-container" data-turbolinks-permanent></div><% end %>
  </body>
</html>
